# Created by .ignore support plugin (hsz.mobi)
### ignore files template
__pycache__
.idea
Service_book.db
/Φωτοτυπικά.csv
/logs/
"Service_book - \316\221\316\275\317\204\316\271\316\263\317\201\316\261\317\206\316\256.db"
Service_images.csv
backups/
build/
dbase.db
dist/
icons/add_service_resized.png
icons/add_to_service_data1_resized.png
icons/add_to_service_data2_resized.png
icons/add_to_service_data_resized.jpg
icons/refresh-big_resized.png
icons/refresh-icon-sync-icon-png-favpng-8jkYnzt2QyYLjpuRmDEBW5dhe.jpg
icons/refresh-icon-sync-icon-png-favpng-8jkYnzt2QyYLjpuRmDEBW5dhe_resized.jpg
icons/user_remove_man_male_profile_account_person-512.png
service_book_colors.spec
test.py
/dist/
/icons/add_spare_parts.jpg
"3. \316\232\316\221\316\231\316\235\316\237\316\245\316\241\316\231\316\221_\316\221\316\240\316\237\316\230\316\227\316\232\316\227.db"
Service images/
icons/add_folder.png
icons/delete_spare_parts.jpg
icons/male-user-search.png
icons/remove_spare_parts-.jpg
icons/search_copiers.jpg
icons/search_tasks.jpg
/icons/add_folder.png
